Repository fmkarakus/Quiz-Project, pull requests merged in 2020-08, with the labels that each got.

#2 added html-css
  index.html
  style.css
Labels: Dom, style

#19 Render progress
  index.html
  src/data.js
  src/handlers/add.js
  src/handlers/starter.js
  src/views/progressRender.js
  src/views/starter.js
  style.css
Labels: view

#21 added documentation and fixes
  README.md
  quiz-project.jpg
  src/handlers/add-question.js
  src/handlers/add.js
Labels: bug, documentation

#23 Score render
  index.html
  src/handlers/starter.js
  src/listeners/starter.js
  src/views/scoreRender.js
  src/views/starter.js
  style.css
Labels: view
